body {
    min-width: 1480px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    padding: 0;
    font-family: "Forum", "Arial", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-align: left;
    text-transform: uppercase;
    color: #9d8665;
}

.block {
    display: block;
}

.none {
    display: none;
}

@media (max-width: 1024px) {
    body {
        min-width: 1024px;
    }

    .container {
        max-width: 984px;
    }

    .section-title {
        font-size: 50px;
        line-height: 75px;
    }
}

@media (max-width: 768px) {
    body {
        min-width: 768px;
    }

    .container {
        max-width: 728px;
    }

    .section-title {
        font-size: 40px;
        line-height: 60px;
    }
}

@media (max-width: 420px) {
    body {
        min-width: 420px;
    }

    .container {
        max-width: 380px;
    }

    .section-title {
        font-size: 28px;
        line-height: 40px;
    }
}